aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
base58==2.1.0
bitarray==1.2.2
certifi==2020.4.5.1
chardet==3.0.4
Click==7.0
colorama==0.4.1
cos-python-sdk-v5==1.7.8
cytoolz==0.11.0
dicttoxml==1.7.4
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
Flask==1.1.1
hexbytes==0.2.2
idna==2.9
importlib-metadata==4.8.1
ipfshttpclient==0.8.0a2
itsdangerous==1.1.0
jaeger-client==4.3.0
Jinja2==2.11.1
jsonschema==3.2.0
kaptan==0.5.12
libtmux==0.8.2
lru-dict==1.1.7
MarkupSafe==1.1.1
multiaddr==0.0.9
multidict==5.2.0
netaddr==0.8.0
opentracing==2.3.0
parsimonious==0.8.1
protobuf==3.19.0
pycryptodome==3.11.0
pyrsistent==0.18.0
PyYAML==5.1.2
redis==3.4.1
requests==2.23.0
rlp==2.0.1
six==1.14.0
threadloop==1.0.2
threadpool==1.3.2
thrift==0.13.0
tmuxp==1.5.3
toolz==0.11.1
tornado==6.0.4
typing-extensions==3.10.0.2
urllib3==1.25.9
varint==1.0.2
web3==5.24.0
websockets==9.1
Werkzeug==1.0.0
xmltodict==0.12.0
yarl==1.7.0
zipp==3.6.0
